.form {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 20px 50px;
	height: 50%;
	text-align: center;
    width: 350px;
    border-radius: 8px;
}